apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "sematic-server.fullname" . }}
  labels:
    {{- include "sematic-server.labels" . | nindent 4 }}
data:
{{ if .Values.auth.enabled }}
  GOOGLE_OAUTH_CLIENT_ID: {{ .Values.auth.google_oauth_client_id | quote }}
  SEMATIC_AUTHENTICATE: "1"
  SEMATIC_AUTHORIZED_EMAIL_DOMAIN: {{ .Values.auth.authorized_email_domain | quote }}
{{ end }}
{{ if .Values.aws.enabled }}
  AWS_S3_BUCKET: {{ .Values.aws.storage_bucket | quote }}
{{ end }}
  KUBERNETES_NAMESPACE: {{ .Release.Namespace }}
  SEMATIC_WORKER_KUBERNETES_SA: {{ .Values.worker.service_account.name | quote }}
