apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ .Values.service_account.name | default .Release.Name }}
  labels:
    {{- include "sematic-server.labels" . | nindent 4 }}
rules:
- apiGroups: ["batch"]
  resources: ["jobs"]
  verbs: ["get", "watch", "list", "create"]
- apiGroups: ["batch"]
  resources: ["jobs/status"]
  verbs: ["get", "watch", "list"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "watch", "list"]
- apiGroups: ["apps"]
  resources: ["deployments"]
  verbs: ["get", "watch", "list"]
{{- if .Values.rbac.manage_ray }}
- apiGroups: ["ray.io"]
  resources: ["rayclusters"]
  verbs: ["get", "watch", "list", "create", "delete"]
{{- end }}
