body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ScrollingLogView .scroller {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: small;
  white-space: nowrap;
  height: 40vh;
  overflow:hidden; overflow-y:scroll;
  background-color: #f0f0f0;
  border-color: #c0c0c0;
  border-style: solid;
}

.ScrollingLogView {
  margin-top: 5px;
  margin-bottom: 5px;

  /*
    Make this positioned so the loading overlay can
    be positioned using absolute positioning against
    it.
  */
  position: relative;
  left: 0px;
  top: 0px;
}

.ScrollingLogView .scroller .no-more-indicator {
  color: red;
  font-weight: bold;
  text-align: center;
}

.ScrollingLogView .jump-to-end {
  width: 100%;
  border-style: solid;
  border-color: #376FD0;
  border-width: 1px;
  padding: 1px;
}

.ScrollingLogView .filter input {
  padding-top: 0px;
  padding-bottom: 0px;
}

.loading-overlay {
  z-index: 100;
  left: 0px;
  top: 0px;
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 80%;
}

.loading-overlay p {
  font-weight: bold;
  font-size: large;
  text-align: center;
}
