auth:
  enabled: true
  google_oauth_client_id: xxxxxxxx.apps.googleusercontent.com # REPLACE ME
  authorized_email_domain: example.org # REPLACE ME

aws:
  enabled: true
  storage_bucket: my-s3-bucket # REPLACE ME

secret:
  create: true

database:
  url: postgres://postgresql:5432/postgres # REPLACE ME

deployment:
  replica_count: 1
  affinity: {}
  annotations: {}
  tolerations: {}
  node_selector: {}
  resources:
    limits:
      cpu: 500m
      memory: 4000Mi
    requests:
      cpu: 500m
      memory: 4000Mi
  autoscaling:
    enabled: false
    min_replicas: 1
    max_replicas: 1
    target_cpu_utilization_pct: 80
    # target_memory_utilization_pct: 80
  security_context: {}
    # fs_group: 2000
  container_security_context: {}
    # capabilities:
    #   drop:
    #   - ALL
    # read_only_root_filesystem: true
    # run_as_non_root: true
    # run_as_user: 1000
  liveness_probe:
    failureThreshold: 6
    httpGet:
      path: /
      port: http
      scheme: HTTP
    initialDelaySeconds: 10
    periodSeconds: 5
    successThreshold: 1
    timeoutSeconds: 1
  readiness_probe:
    failureThreshold: 6
    httpGet:
      path: /
      port: http
      scheme: HTTP
    initialDelaySeconds: 10
    periodSeconds: 5
    successThreshold: 1
    timeoutSeconds: 1

image:
  repository: sematicai/sematic-server
  #tag: vX.XX.X
  pull_policy: IfNotPresent
  #pull_secrets: []

rbac:
  create: true

service_account:
  # Should a new service account be created? Or should we use
  # one that already exists
  create: true

  # Annotations to add to the service account
  annotations: {}

worker:
  service_account:
    name: default

service:
  create: false
  type: ClusterIP
  port: 80

ingress:
  create: false
  class_name: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secret_name: chart-example-tls
  #    hosts:
  #      - chart-example.local
