
# Linters and such. Pin them so that different devs
# don't get different results from using them.
flake8==5.0.4
mypy>=0.971
black==22.6.0
isort==5.10.1

pytest
# Required for pip-compile on the CI worker
pip-tools

# Required for mypy
sqlalchemy[mypy]
flask
types-requests
pandas-stubs
types-psycopg2
data-science-types
types-python-dateutil
types-PyYAML
snowflake-connector-python
kubernetes-stubs
boto3-stubs

# To generate the wheel
mistune==0.8.4
docutils==0.18.1
m2r

# Required by the release process
twine
