
# Linters and such. Pin them so that different devs
# don't get different results from using them.
mypy==1.13.0

pytest
# Required for pip-compile on the CI worker
pip-tools

# Required for mypy
sqlalchemy>=2.0.0
flask
types-requests
pandas-stubs
types-psycopg2
data-science-types
types-python-dateutil
types-PyYAML
snowflake-connector-python
kubernetes-stubs
boto3-stubs
