flake8
mypy>=0.950
pytest
# Required for pip-compile on the CI worker
pip-tools

# Required for mypy
sqlalchemy[mypy]
flask
types-requests
pandas-stubs
types-psycopg2
data-science-types
types-python-dateutil
types-PyYAML
snowflake_table

# To generate the wheel
mistune==0.8.4
m2r
