# Tests
pytest==7.1.1
testing-postgresql
git+https://github.com/ulfjack/coveragepy.git@lcov-support
debugpy

# System
ipython==8.2.0
setuptools==58.1.0

# DB
SQLAlchemy==1.4.36
psycopg2-binary

# Code
pyyaml

# Git integration
git-python

# Client
websocket-client
python-socketio

# API server
flask
flask-cors
cloudpickle
flask-socketio
gevent
requests
responses==0.20.0  # 0.21.0 breaks mypy checks https://github.com/getsentry/responses/issues/556
werkzeug
gunicorn
python-dateutil
google-auth

# CLI
click

# Examples
torch==1.13.1
torchvision==0.14.1
torchmetrics
plotly
pandas
pandas-stubs
seaborn
matplotlib
statsmodels
scikit-learn
numpy
xgboost

# Types
## Snowflake
snowflake-connector-python>=2.8.0
pyOpenSSL
pyarrow

# Cloud execution
kubernetes
boto3

# Matplotlib
mpld3

# External Resource Plugins
## Ray
ray[default]>=2.2.0

