# Tests
pytest==7.1.1
testing-postgresql

# System
ipython==8.2.0
setuptools==58.1.0

# DB
SQLAlchemy==1.4.36
psycopg2-binary

# API server
flask
flask-cors
cloudpickle
flask-socketio
eventlet==0.30.2  # Because of https://stackoverflow.com/questions/67409452/gunicorn-importerror-cannot-import-name-already-handled-from-eventlet-wsgi
requests
responses==0.18.0  # Require < 0.19.0 for HuggingFace datasets; 0.21.0 breaks mypy checks https://github.com/getsentry/responses/issues/556
werkzeug
gunicorn
python-dateutil

# CLI
click

# Examples
torch
torchvision
torchmetrics
plotly
pandas
pandas-stubs
seaborn
matplotlib
statsmodels
sklearn
numpy
xgboost
transformers
datasets
