# Tests
pytest==7.1.1
testing-postgresql
git+https://github.com/ulfjack/coveragepy.git@lcov-support

# System
ipython==8.2.0
setuptools==58.1.0

# DB
SQLAlchemy==1.4.36
psycopg2-binary

# Code
pyyaml

# API server
flask
flask-cors
cloudpickle
flask-socketio
eventlet==0.30.2  # Because of https://stackoverflow.com/questions/67409452/gunicorn-importerror-cannot-import-name-already-handled-from-eventlet-wsgi
requests
responses==0.20.0  # 0.21.0 breaks mypy checks https://github.com/getsentry/responses/issues/556
werkzeug
gunicorn
#git+https://github.com/benoitc/gunicorn.git
python-dateutil
google-auth

# CLI
click

# Examples
torch
torchvision
torchmetrics
plotly
pandas
pandas-stubs
seaborn
matplotlib
statsmodels
scikit-learn
numpy
xgboost

# Types
## Snowflake
snowflake-connector-python
pyarrow

# Cloud execution
kubernetes
boto3
